body
{
    margin: 0px;
    padding: 0px;
}
.first-sector
{
    width: 100%;
    height: 104px;
    background-color: #dbdbdb;
}
img[src="img/Layer-34.png"]
{
    margin-top: 6px;
}
img[src="img/logo.png"]
{
    float: right;
    margin-top: 20px;
}
.logo
{
    margin-left: auto;
    margin-right: auto;
}
.second-sector
{
    background-color: #bc1d24;
}

.social
{
    font-size: 35px;
    color: white;
    margin-top: 6px;
}
.btn-warning
{
    margin-top: -17px;
    padding: 0px;
    width: 41px;
}
.search
{
    margin-top: 6px;
    width: 647px; 
    direction: rtl;
}
.big-container
{
    direction: rtl;
}
/* .carousel-item :second-child
{
    width: 100%;
    position: relative;
}
.carousel-item :third-child
{
    width: 100%;
    position: relative;
} */
   img[src="img/Layer-8.png"]
 {
     height: 100%;
     width:100%;
    /* position: absolute;  */
 }  
 img[src="img/Layer-63.png"]
 {
      height: 50%;
     width:456px; 
      position: relative;
      float: right;
      display: block;
      clear: both;
 }
 img[src="img/Layer-13.png"]
 {
     height: 50%;
     width: 456px;
      position: relative;
     float: right;
    display: block;
    clear: both;
    } 
 
.tsnefat
{
    margin-top: 15px;
}
.adv
{
    width: 304px;
    height: 150px;
    background-color: #dfdfdf;
    
}
/*مساحه اعلانيه  */
.adv-area
{
    background-color: #dfdfdf;
    width: 304px;
    height: 40px;
    margin-bottom: 10px;
    /* border: 2px solid #cfcfcf; */
    line-height: 30px;
    font-size: small;
}
.tb-shape
{
    height: 458px;
    background-color: #dfdfdf;
    border: 2px solid #cfcfcf;
}
.tb-head
{
    padding: 10px;
    border-bottom: 2px solid #bc1d24;
}
.khedma
{
    box-sizing: border-box;
} 

.fig-name
{
    color: #bc1d24;
    font-size: 13px;
    font-weight: bold;
}
.first-row
{
    margin-top: 10px;
}
.arrow-btn
{
    border-radius: 50%;
    background-color: #bb1d24;
    color: white;
    padding: 3px;
    margin-right: 5px;
}
.special-adv
{
    margin-top: 35px;
}
.thumbnail
{
    border-bottom: 3px solid #bb1d24;
    margin-top: 30px;
    padding: 0px;
}
.caption p
{
    font-size: 15px;
}
#adv-img
{
    border: 1px solid #cfcfcf !important;
    width: 833px;
}
.cairo-lens
{
    margin-top: 12px;
   float: left;
   width: 237px;
}
.movies, .events
{
    margin-top: 20px;
}
.more
{
    background-color: #bb1d24;
    width: 70px;
    height: 29px;
    color: white;
    padding: 3px;
}
.za2d
{
    font-size: 15px;
    padding: 3px;
}
.movie-title
{
    background-color: #bc1d24;
    color: white;
    height: 30px;
    margin-top: -9px;
    line-height: 24px;
}
.imprtnt-envents
{
    margin-top: 30px;
    height: 209px;
    background-color: black;
    padding-left: 0px;
    padding-right: 0px;

}
.imprtnt-envents img
{
    background-image: contain;
    height: 209px;
}
.about-event
{
    padding: 25px;
    color: white;
    line-height: 48px;
}
.about-event p
{
    font-size: 15px;
}
.big-essay
{
    margin-top: 20px;
}
.essay
{
    height: 120px; 
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #919191;
}
.sora
{
     float: right;
    height: 100%;
    width: 50%;
}
 .sora img {
        width: 100%;
        height: 100%;
}
.klam
{
    float: left;
    width: 50%;
    font-size: 13px;
}
.essay-title
{
    background-color: #bb1d24;
    width: 330px;
    height: 40px;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 19px;
    margin-right: 19px;
    padding: 6px;
}
.essay-title :first-child
{
    font-size: 15px;
    font-weight: bold;
}
.essay-title :last-child
{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.agenda
{
    margin-top: 40px;
}
.agenda-dates
{
    height: 40px;
}
.event-date
{
    font-size: 18px;
    padding: 7px;
    color: white;
    width: 100px;
    height: 40px;
    background-color: #bb1d24;
    float: right;
    margin-left: 8px;
}
.event-date:hover
{
    background-color: black;
    cursor: pointer;
}
.agenda-slider
{
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    padding: 20px;
    /* height: 400px;
    background-color: #cfcfcf; */
}
.abrag
{
    height: 250px;
    background-color: #cfcfcf;
    color: black;
    font-size: 20px;
    padding: 100px;
    margin-bottom: 20px;
}
.wheather
{
    height: 88px;
    background-color: #cfcfcf;
    color: black;
    font-size: 20px;
    padding: 35px;
    margin-bottom: 20px;
}    
.pray-time
{
    background-image: url('img/Vector-Smart-Object2.png');
    background-repeat: no-repeat;
    font-size: 13px; 
    color: white;
    font-weight: bolder; 
    height: 248px;
    background-size: cover;
    float: left;
}
.govern
{
    width: 90px;
    border-radius: 2px;
    color: black;
}
date
{
    color: #e6b839;
} 
.new-adv
{
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border: 1px solid #cfcfcf;
    float: left;
}
.Ay5edma
{
    height: 40px;
    background-color: #bb1d24;
    padding: 9px;
    
}
.Ay5edma h3
{
    color: white;
}
.Ay5edma span
{
    border-right: 2px solid white;
    padding-right: 4px;
}
#logo
{
    width: 50%;
    height: 50px;
    float: left;
}
.like
{
    float: left;
    padding: 15px;
}
.logo-like
{
    border-bottom: 1px solid #919191;
    height: 60px;
    padding-left: 10px;
    padding-right: 3px;
}
.add-adv
{
    height: 30px;
    background-color: #dbdbdb;
    margin-left: 0px;
}
.last-sector
{
    height: auto;
    border: 1px solid #cfcfcf;
    margin-bottom: 30px;
}
.footer
{
    background-color: #bc1d24;
    height: auto;
    font-size: 13px;
    color: white;
    padding: 3px;
    width: 100%;
}
.up-slider
{
    height: 50%;
    margin-bottom: 12px;
    background-color: black;
}
.up-slider h3
{
    color: #e6b839;
    padding: 12px;
}
.down-slider
{
    height: 50%;
    background-color: black;
    
}
.down-slider h3
{
    color: #e6b839;
    padding: 12px;
}